<%- include("./partials/header")  %> 
<h1><%= home.title  %></h1>
<p><%= home.content %> </p>
<% blogs.forEach(blog => { %>
    <h1><%= blog.title  %> <span> <%= blog.author %> </span></h1>
    <% if(blog.content.length > 100){ %> 
    <p><%= blog.content.substring(0,98) %> ... <a href="/blogs/<%= blog._id %>">Read more</a></p>
    <% } %> 
    <% }); %> 
<%- include("./partials/footer")  %> 